* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.counter {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}


.loader {
  height: 100vh;
  width: 100%;
  background-color: #6f4545;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loader-count {
  color: white;
  font-size: 4rem;
}

.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.hero > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 2;
  color: #6f4545f0;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 13rem;
}

.content-section h1 {
  font-size: 9rem;
  margin-bottom: 20px;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

.content-section p {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Overpass', sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;
}

.heading,
.sub-heading {
  overflow: hidden;
}

.scroll-element {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-div {
  height: 100%;
  width: 100%;
}

.img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;   
}

.primary-btn {
  background-color: #6f4545;
  color: white;
}

.btns {
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  overflow: hidden;
  display: flex;
}

.secondary-btn {
  background-color: transparent;
  color: #6f4545;
  position: relative;
  overflow: hidden;
  border: 2px solid #6f4545;
}

.s-btn-fill {
  position: absolute;
  left: 0;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #6f4545;
}

.s-btn-text {
  position: relative;
  z-index: 1;
  display: inline-block;
}